@use "../global" as *;

#about {
  padding: clamp(7.5rem, 12.5rem, 12.5rem) clamp(1rem, 5rem, 5rem)
    clamp(8.75rem, 13.75rem, 13.75rem);
}

.about__wrapper {
  position: relative;
  margin: 0 auto;
  width: min(1120px, 100%);
  padding: clamp(6.25rem, 11.25rem, 11.25rem) clamp(2rem, 6rem, 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;
  color: $text-color;

  > * {
    position: relative;
    z-index: 1;
  }
}

.about__img {
  position: absolute;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about__img:nth-of-type(1) {
  top: 0;
  left: 0;
  transform: translate(10%, 30%);
}

.about__img:nth-of-type(2) {
  top: 0;
  right: 0;
  transform: translate(-30%, 60%);
}

.about__img:nth-of-type(3) {
  bottom: 0;
  left: 0;
  transform: translate(75%, 20%);
}

.about__img:nth-of-type(4) {
  bottom: 0;
  right: 0;
  transform: translate(-40%, 40%);
}

.about__heading img {
  width: 314px;
  height: 55px;
  display: block;
  object-fit: contain;
}

.about__text {
  max-width: 680px;
  font-size: 1.0625rem;
  line-height: 2;
  letter-spacing: 0.04em;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

@include mq(pc) {
  .about__img:nth-of-type(1) {
    width: 150px;
    top: 0;
    left: 0;
    transform: translate(10%, 0%);
  }

  .about__img:nth-of-type(2) {
    width: 150px;
    top: 0;
    right: 0;
    transform: translate(-10%, 30%);
  }

  .about__img:nth-of-type(3) {
    width: 150px;
    bottom: 0;
    left: 0;
    transform: translate(40%, 20%);
  }

  .about__img:nth-of-type(4) {
    width: 150px;
    bottom: 0;
    right: 0;
    transform: translate(-40%, 40%);
  }
}

@include mq(sp) {
  #about {
    padding: 0;
    margin: 30px 16px 160px 16px;
  }

  .about__wrapper {
    width: min(520px, 100%);
    gap: 28px;
    padding: 0;
    padding-top: 90px;

    &::before {
      inset: clamp(1.75rem, 3.75rem, 3.75rem);
    }
  }

  .about__heading {
    img {
      width: 230px;
    }
  }

  .about__img {
    width: 63px;
  }

  .about__img:nth-of-type(1) {
    width: clamp(63px, 63px, 100px);
    top: 0;
    left: 0;
    transform: translate(40%, 10%);
  }

  .about__img:nth-of-type(2) {
    width: 57px;
    top: 0;
    right: 0;
    transform: translate(-50%, 40%);
  }

  .about__img:nth-of-type(3) {
    width: 86px;
    bottom: 0;
    left: 0;
    transform: translate(30%, 110%);
  }

  .about__img:nth-of-type(4) {
    width: 92px;
    bottom: 0;
    right: 0;
    transform: translate(-50%, 110%);
  }

  .about__text {
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.9;
    margin-inline: auto;
    font-weight: bold;
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}
