@use "../global" as *;

#access {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 120px;
}

.access__content {
  display: grid;
  width: clamp(320px, 55vw, 960px);
  grid-template-columns: minmax(250px, 26%) minmax(0, 1fr);
}

.access__left {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: $primary;
  border-radius: 100px 0 0 100px;
  padding: 75px 50px;
  box-shadow: 0px 3px 6px #00000029;

  dt {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: bold;

    &:last-child {
      width: 115px;
      font-size: 1rem;
      border-bottom: $text-color solid 1px;
    }
  }
}

.access__right-top {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color: $bg-color;
  padding: 80px 50px;
  border-radius: 0 100px 0 0;
  height: 300px;
  box-shadow: 0px 3px 6px #00000029;

  dd {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.access__right-bottom {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border-radius: 0px 0 100px 0;
  box-shadow: 0px 3px 6px #00000029;
}

.access__right-bottom iframe {
  width: 100%;
  display: block;
  border-radius: 0px 0 100px 0;
}
