@use "../global" as *;

.contact__container {
  margin-top: 100px;
  margin: 100px 16px 0 16px;
}

#contact {
  width: 80%;
  margin: 0 auto;
}

.bread_crumbs {
  font-size: 14px;
}

.contact__caption {
  margin: 20px;
}

.contact__title {
  margin: 50px 0 45px 0;
}

.contact__form-wrapper {
  box-shadow: 1px 1px 10px #00000029;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(0px, 10%, 100px);
  margin: 50px 0 160px 0;
}

.contact__form {
  width: 80%;
}

.contact__field-wrapper {
  margin-bottom: 40px;
}

.contact__label {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact__required {
  display: inline-block;
  width: 34px;
  height: 22px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: $primary;
  border-radius: 5px;
  line-height: 22px;
}

.contact__select-wrapper {
}

.contact__select {
  border: 1px solid $primary;
  border-radius: 5px;
  margin-top: 16px;
  padding: 10px;
}

.contact__input {
  display: block;
  width: 90%;
  height: 50px;
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0 0 0;
}

.contact__textarea {
  display: block;
  border: 1px solid $primary;
  border-radius: 5px;
  width: 100%;
  height: 150px;
  margin-top: 16px;
}

.contact__submit {
}

.contact__submit-button {
  width: 80%;
  font-weight: bold;
  height: 50px;
  padding: 0;
}

#contact-type {
  width: 80%;
  height: 50px;
}

@include mq(sp) {
  .bread_crumbs {
    font-weight: bold;
    padding: 0;
  }
  .contact__title {
    margin: 40px 0 10px 0;
  }
  #contact {
    width: 100%;
  }

  .contact__caption {
    margin: 10px 0;
    line-height: 1.5;
  }

  .contact__form {
    width: 100%;
  }

  .contact__required {
    font-weight: normal;
  }

  .contact__container {
  }

  .contact__form-wrapper {
    border-radius: 50px;
    padding: 30px 20px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .contact__submit-button {
    font-size: 1rem;
  }
}
