@use "../global" as *;

.news-list__container {
  margin-top: 100px;
}

#news-list {
  width: 80%;
  margin: 0px auto 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.news-list__category-list {
  display: flex;
  gap: 20px;
  margin: 50px auto;
}

.news-list__category-item {
  color: $secondary;
  background-color: #fff;
  border-radius: 50px;
  width: 120px;
  height: 45px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
}

.news-list__category-item--active {
  color: #fff;
  background-color: $primary;
}

.news-list__wrapper {
  padding: clamp(0px, 10%, 100px);
  width: 100%;
  box-shadow: 1px 1px 10px #00000029;
  border-radius: 100px;
  background-color: #fff;
}

.news-list__list {
}

.news-list__item {
  align-items: center;
  margin-bottom: 50px;
  letter-spacing: 0.2em;

  &:last-child {
    margin-bottom: 0;
  }
  a {
    display: flex;
  }
}

.news-list__img {
  width: 30%;
  margin-right: 30px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  flex-shrink: 0;
  object-fit: cover;
  aspect-ratio: 230 / 150;
  img {
    object-fit: cover;
  }
}

.news-list__text {
  flex: 1;
  min-width: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.news-list__time {
  font-size: 14px;
  font-family: $font-en;
  margin-right: 14px;
}

.news-list__label {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
  height: 26px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: $primary;
  border-radius: 5px;
  line-height: 26px;
  letter-spacing: 0;
}

.news-list__title {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.news-list__body {
  font-size: 14px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

@include mq(sp) {
  .news-list__wrapper {
    padding: 50px 20px;
    border-radius: 50px;
  }

  #news-list {
    width: 90%;
  }

  .news-list__container {
    margin-top: 50px;
  }

  .news-list__category-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding-bottom: 10px;
    margin: 20px 0 10px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .news-list__category-item {
    flex-shrink: 0;
  }

  .news-list__item--sp {
    width: 100%;
    min-height: 200px;
    border-radius: 20px;
    background-image: url("../img/no-image.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .news-list__label--sp {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .news-list__text--sp {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0 0 20px 20px;
  }

  .news-list__time--sp {
    font-size: 12px;
    font-family: $font-en;
  }

  .news-list__title--sp {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
  }
}
