@use "../global" as *;

.news-detail__container {
  margin-top: 100px;
  margin: 100px 16px 0 16px;
}

/*============================
#news-detail
============================*/
#news-detail {
  width: 80%;
  margin: 0 auto;
}

.bread_crumbs {
  font-size: 14px;
}

.news-detail__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}

.news-detail__time {
  font-size: 16px;
  font-family: $font-en;
  margin-right: 16px;
}

.news-detail__label {
  display: inline-block;
  width: 96px;
  height: 26px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: $primary;
  border-radius: 5px;
  line-height: 26px;
}

.news-detail__wrapper {
  box-shadow: 1px 1px 10px #00000029;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(0px, 10%, 100px);
  margin: 60px 0 80px 0;
}

.news-detail__img {
  border-radius: 20px;
}

.news-detail__btn {
  margin-top: 40px;
}

@include mq(sp) {
  .news-detail__wrapper {
    margin-top: 40px;
    border-radius: 50px;
  }

  #news-detail {
    width: 100%;
  }

  .news-detail__btn {
    width: 300px;
    font-weight: bold;
  }

  .news-detail__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .news-detail__container {
    margin: 100px 16px 0 16px;
  }
}
