@use "../global" as *;

#top-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.top-contact__wrapper {
  width: 60%;
  max-width: 1200px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: $secondary;
}

.top-contact__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 35px;
}

.top-contact__caption {
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 1.125rem;
  margin-bottom: 36px;
}

.top-contact__btn {
  font-weight: bold;
  margin-bottom: 36px;
}

.top-contact__phone,
.top-contact__opening-hours {
  font-size: clamp(1rem, 1.25rem, 1.125rem);
  line-height: 1.6;
  font-weight: bold;
}

.top-contact__phone span {
  font-weight: bold;
  font-size: 1.875rem;
}

@include mq(sp) {
  #top-contact {
    padding: 0 16px;
    margin-bottom: 60px;
  }

  .top-contact__caption {
    font-size: 18px;
  }

  .top-contact__wrapper {
    width: 100%;
    padding: 50px 20px;
    border-radius: 50px;
  }

  .top-contact__title {
    font-size: 30px;
  }

  .top-contact__btn {
    width: 100%;
  }

  .top-contact__phone {
    font-size: 20px;
    span {
      font-size: 30px;
    }
  }

  .top-contact__opening-hours {
    font-size: 20px;
  }
}
