@use "../global" as *;

.title {
  font-size: clamp(1.875rem, 2.8vw, 2.5rem);
  letter-spacing: 0.08em;
  color: $text-color;
  position: relative;
  font-weight: bold;
  display: inline-block;
  z-index: 0;
  &::after {
    content: "";
    display: block;
    width: 90%;
    height: 80%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/decoration.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
}
