@use "../global" as *;

.title {
  font-size: clamp(1.875rem, 2.8vw, 2.5rem);
  letter-spacing: 0.08em;
  color: $text-color;
  position: relative;
  font-weight: bold;
  &::after {
    content: "";
    display: block;
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: -20px;
    left: 7%;
    transform: translateX(-50%);
    background-image: url("../img/decoration.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
}
