@use "../global/var" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Yu Gothic", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
  overflow-x: hidden;
  background-color: #f9f9f9;
  color: $text-color;
}

// ハンバーガーメニュー展開時の背景固定
html.is-fixed,
html.is-fixed body {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

picture {
  vertical-align: middle;
}

a {
  color: #555;
  text-decoration: none;
  transition: $transition;
  &:hover {
    opacity: 0.8;
  }
}

input,
textarea,
select,
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
